/* font-family: 'Playfair Display', serif;
font-family: 'Source Sans 3', sans-serif; */

body {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Source Sans 3', sans-serif;
}

nav {
  background-color: #3aa6b9;
}
