/* font-family: 'Playfair Display', serif;
font-family: 'Source Sans 3', sans-serif; 
*/

html,
body {
  font-family: 'Playfair Display', serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ebebe7;
  background-repeat: no-repeat;
}

main {
  margin: 0;
  padding-top: 10%;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
}

p {
  font-family: 'Source Sans 3', sans-serif;
}

li {
  font-family: 'Source Sans 3', sans-serif;
}
h1 {
  text-align: center;
}

header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  /*background-color: 503C3C;*/
  background-color: white;
  z-index: 999;
  position: fixed;
  width: 100%;
}
#header-img {
  width: 25px;
  height: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

header h1 {
  font-size: 1rem;
  color: #7a77b9;
  font-family: 'Source Sans 3', sans-serif;
  padding-right: 20%;
}

/* Resetting default list styles */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-right: 40px;
  font-family: 'Source Sans 3', sans-serif;
  float: left;
  position: relative; /* Important for positioning the sub-menu */
  cursor: pointer;
  color: #7a77b9;
}

nav li:hover {
  color: #503c3c;
}
.nav-container ul li {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}
.nav-container ul li a {
  padding: 0;
}
nav a {
  color: #7a77b9;
  text-decoration: none;
  display: block; /* Ensure the whole area is clickable */
  padding: 10px; /* Add padding for better click area */
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}

nav a:hover {
  color: #503c3c;
}

/* Styling for the sub-navigation- li items */
.sub-nav {
  position: absolute;
  top: 100%; /* Position below the main navigation item */
  left: 0;
  background-color: white;

  height: auto;
  display: none; /* Hide the li */
}

/* how to make it show */
nav li:hover .sub-nav {
  display: block;
  opacity: 1;
}
.sub-nav li {
  display: block;
  width: 300px;
  position: relative;
  text-align: center;
  padding: 10px;
  background-color: white;
  box-sizing: border-box;
}

.date {
  text-align: center;
  color: #f2c76e;
}
#intro-name {
  font-size: 4rem;
}

.main-intro-container {
  /*color: #7e6363;*/
  color: #7a77b9;
  text-align: center;
  margin: 0;
  padding: 0;
}
.main-intro-container h1 {
  margin-top: 0;
  padding-top: 16px;
}

.main-intro-container img {
  width: 200px;
  height: auto;
  padding-bottom: 20px;
}
.main-intro-container p {
  padding: 10px;
  font-size: 2rem;
}

.main-end-container {
  text-align: center;
  padding: 20px;
}
.main-end-container p {
  margin-bottom: 0;
  color: #ea7186;
}
.research-h2 {
  text-align: center;
}
#relative-1 {
  width: 200px;
  height: 100px;
  background-color: #503c3c;
}
#relative-2 {
  position: relative;
  top: 30px;
  left: 100px;

  width: 200px;
  height: 100px;
  background-color: #503c3c;
}
.relative {
  margin-top: 50px;
}
.relative img {
  position: relative;
  left: 100px;
}
.absolute h2 {
  margin-top: 50px;
}
#absolute-1 {
  width: 200px;
  height: 100px;
  background-color: #503c3c;
}
.relative-div {
  position: relative;
  height: 200px;
  width: 100%;
  border-color: #503c3c;
  border-width: 5px;
  border-style: solid;
}

#absolute-2 {
  width: 200px;
  height: 100px;
  background-color: #503c3c;
  position: absolute;
  right: 100px;
  bottom: 25px;
}

#fixed {
  width: 200px;
  height: 100px;
}
#fixed img {
  position: fixed;
  right: 50px;
  top: 50px;
  width: 50px;
  height: 50px;
}

.eqtable {
  font-family: 'Source Sans 3', sans-serif;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
.eqtable td {
  padding-top: 10px;
}

#controlFlow {
  font-family: 'Source Sans 3', sans-serif;
}
#controlFlow li {
  list-style: none;
  padding-top: 2%;
  color: #7e6363;
}
footer {
  padding: 10px;
  margin-top: 10px;
  color: #ea7186;
  text-align: left;
}
#girl {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#girl img {
  width: 100%;
  height: 300px;
  border-radius: 20%;
  border-color: black;
  border-style: solid;
}
#girl figcaption {
  text-align: center;
}
#sandwich {
  text-align: center;
}
#sandwich img {
  width: 200px;
}
figcaption {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 12px;
}
#domStructure {
  text-align: center;
}
#domStructure img {
  border-radius: 20%;
  border-style: solid;
}

.centerPage {
  text-align: center;
}
@media screen and (max-width: 600px) {
  main {
    margin-top: 100px;
  }
  #fixed img {
    top: 150px;
    right: 0px;
  }
}
