/* font-family: 'Playfair Display', serif;
font-family: 'Source Sans 3', sans-serif; 
*/

body {
  font-family: 'Playfair Display', serif;
  /*background-color: FDEFEF;*/
  margin: 0;
}
header,
main {
  margin: 0;
  padding: 0;
}
main {
  background: linear-gradient(#a87c7c, #f4dfd0);
}
p {
  font-family: 'Source Sans 3', sans-serif;
}

header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: 503C3C;
}
#header-img {
  width: 25px;
  height: 25px;
  padding-left: 20px;
}

header h1 {
  font-size: 1rem;
  color: EDDBC7;
}

nav ul {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

nav li {
  margin-right: 40px;
  color: EDDBC7;
  font-family: 'Source Sans 3', sans-serif;
}
nav a {
  color: EDDBC7;
}
nav a:hover {
  color: #a87c7c;
}

.intro-container h1 {
  margin-top: 0;
  padding-top: 16px;
}

h1 {
  font-weight: bold;
}

#intro-name {
  font-size: 4rem;
}

.intro-container {
  /*color: #7e6363;*/
  color: EDDBC7;
  text-align: center;

  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.intro-container img {
  width: 200px;
  height: auto;
  padding-bottom: 20px;
}
.intro-container p {
  padding-bottom: 10px;
}
footer {
  background-color: 503C3C;
}
